        <nav id="mainNav">
           <div id="mainNavContent">
               <h1>Clima Brasil</h1>
           </div>
        </nav>
        <nav id="subNav"></nav>
        <div id="content">
        <form action="/request" id="mainForm" method="POST"><br>
                <h3>Indique a localização desejada</h3>
                <select name="state" id="state" onchange="populateCityField()">
                </select>
               <select name="city" id="city">
               </select>
             <div class="form-footer">
                <button>Consultar</button>
            </div> 
        </form>
        {{#if data}}
        <div id="results">
          <header>
            <h2>{{data.temp}}°Celsius</h2>
          </header>
          <div id="results-items">
            <h2>{{data.date}}</h2>
            <h2>{{data.time}}</h2>
            <h2>{{data.description}}</h2>
            <h2>{{data.currently}}</h2>
            <h2>Vel. do vento: {{data.wind_speedy}}</h2>
            <h2>Nascer do sol: {{data.sunrise}}<br><br>
                Por do sol: {{data.sunset}}
            </h2>
          </div>
        </div>
            {{/if}}
      </div>
       